In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
data = pd.read_pickle('tweet_data.pkl')
data.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","{drag, dysfunct, kid, run, father, selfish}","{drag, kid, run, dysfunctional, dysfunction, f..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","{caus, pdx, wheelchair, offer, disapoint, gett...","{getthanked, pdx, disapointed, wheelchair, off..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","{bihday, majesti}","{bihday, majesty}"
3,4,0.0,model love take with all the time in ur,"[model, love, take, with, all, the, time, in, ur]","[model, love, take, time, ur]","{take, model, love, ur, time}","{take, model, love, ur, time}"
4,5,0.0,factsguide society now motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","{factsguid, societi, motiv}","{factsguide, motivation, society}"

In [3]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49159 entries, 0 to 49158
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    49159 non-null  int64
 1   label                 31962 non-null  float64
 2   tweet                 49159 non-null  object
 3   tweet_token           49159 non-null  object
 4   tweet_token_filtered  49159 non-null  object
 5   tweet_stemmed         49159 non-null  object
 6   tweet_lemmatized      49159 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 3.0+ MB
None

### Задание 1


Создайте мешок слов с помощью
sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed'
и 'tweet_lemmatized' отдельно.

- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с
помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features =1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [4]:
count_vectorizer_stemmed = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)
count_vectorizer_lemmatized = CountVectorizer(stop_words='english', max_df=0.9, max_features=1000)

In [5]:
list(map(lambda x: " ".join(x), data['tweet_stemmed'].values[:10]))

['drag dysfunct kid run father selfish',
 'caus pdx wheelchair offer disapoint getthank credit use lyft thank van',
 'bihday majesti',
 'take model love ur time',
 'factsguid societi motiv',
 'get chao big allshowandnogo fare fan disput leav pay huge talk',
 'tomorrow camp danni',
 'revolutionschool school imagin exam year hate think next actorslif girl',
 'clevelandcavali champion land love cav allin cleveland',
 'welcom gr']

In [6]:
bag_of_words_stemmed = count_vectorizer_stemmed.fit_transform(list(map(lambda x: " ".join(x), data['tweet_stemmed'].values)))
bag_of_words_lemmatized = count_vectorizer_lemmatized.fit_transform(list(map(lambda x: " ".join(x), data['tweet_lemmatized'].values)))

In [7]:
bag_of_words_stemmed

<49159x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 201762 stored elements in Compressed Sparse Row format>

In [8]:
bag_of_words_lemmatized

<49159x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 190180 stored elements in Compressed Sparse Row format>

In [9]:
df_count_vect_stemmed = pd.DataFrame(bag_of_words_stemmed.toarray(), columns=count_vectorizer_stemmed.get_feature_names())
df_count_vect_stemmed.head(5)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df_count_vect_lemmatized = pd.DataFrame(bag_of_words_lemmatized.toarray(), columns=count_vectorizer_lemmatized.get_feature_names())
df_count_vect_lemmatized.head(5)

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yes,yesterday,yo,yoga,york,young,youtube,yr,yrs,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Задание 2
Создайте мешок слов с помощью
sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и
'tweet_lemmatized' отдельно.
- Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
- Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
- Исключим стоп-слова с помощью stop_words='english'.
- Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [11]:
tfidf_vectorizer_stemmed = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)
tfidf_vectorizer_lemmatized = TfidfVectorizer(stop_words='english', max_df=0.9, max_features=1000)

In [12]:
bag_of_words_tfidf_stemmed = tfidf_vectorizer_stemmed.fit_transform(list(map(lambda x: " ".join(x), data['tweet_stemmed'].values)))
bag_of_words_tfidf_lemmatized = tfidf_vectorizer_lemmatized.fit_transform(list(map(lambda x: " ".join(x), data['tweet_lemmatized'].values)))

In [13]:
bag_of_words_tfidf_stemmed

<49159x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 201762 stored elements in Compressed Sparse Row format>

In [14]:
bag_of_words_tfidf_lemmatized

<49159x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 190180 stored elements in Compressed Sparse Row format>

In [15]:
df_tfidf_vect_stemmed = pd.DataFrame(bag_of_words_tfidf_stemmed.toarray(), columns=tfidf_vectorizer_stemmed.get_feature_names())
df_tfidf_vect_stemmed.head(5)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_tfidf_vect_stemmed = pd.DataFrame(bag_of_words_tfidf_lemmatized.toarray(), columns=tfidf_vectorizer_lemmatized.get_feature_names())
df_tfidf_vect_stemmed.head(5)

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yes,yesterday,yo,yoga,york,young,youtube,yr,yrs,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Задание 3. 
Проверьте ваши векторайзеры на корпусе который использовали на вебинаре, составьте таблицу метод векторизации и скор который вы получили (в методах векторизации по изменяйте параметры что бы добиться лучшего скора) обратите внимание как падает/растёт скор при уменьшении количества фичей, и изменении параметров, так же попробуйте применить к векторайзерам PCA для сокращения размерности посмотрите на качество сделайте выводы

In [17]:
from sklearn import model_selection, preprocessing, linear_model
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.decomposition import SparsePCA

In [18]:
data_corp = open('corpus.txt').read()
labels, texts = [], []
for i, line in enumerate(data_corp.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))
# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [19]:
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(trainDF['text'], trainDF['label'])

# labelEncode целевую переменную
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

In [20]:
count_vect = CountVectorizer(analyzer='word', token_pattern=r'\w{1,}')
count_vect.fit(trainDF['text'])

xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
predictions

array([1, 1, 0, ..., 1, 0, 0])

In [21]:
accuracy_score(valid_y, predictions)

0.8668

In [22]:
# C векторайзером
from itertools import chain
tokenized_list = list(data.tweet_stemmed.values)
tokenized_list = list(chain(*tokenized_list))

lemmatized_list = list(data.tweet_lemmatized.values)
lemmatized_list = list(chain(*lemmatized_list))

In [23]:
# CountVectorizer tweet_stemmed
count_vect = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words='english', lowercase=False,
                                   binary=False, max_df = 0.9, max_features = 4000)
count_vect.fit(tokenized_list)

xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.73

In [24]:
# CountVectorizer tweet_lemmatized
count_vect = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words='english', lowercase=False,
                                   binary=False, max_df = 0.9, max_features = 4000)
count_vect.fit(lemmatized_list)

xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7788

In [25]:
# TfidfVectorizer tweet_stemmed
count_vect = TfidfVectorizer(max_df=0.9, max_features = 4000, stop_words='english', lowercase=False,
                                  analyzer='word')
count_vect.fit(tokenized_list)

xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.74

In [26]:
# TfidfVectorizer tweet_lemmatized
count_vect = TfidfVectorizer(max_df=0.9, max_features = 4000, stop_words='english', lowercase=False,
                                  analyzer='word')
count_vect.fit(lemmatized_list)

xtrain_count =  count_vect.transform(train_x)
xvalid_count =  count_vect.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
accuracy_score(valid_y, predictions)

0.7916

Качество модели чуть лучше при применении  tweet_lemmatized tfidf. 
Попробуем подобрать параметры tweet_lemmatized

In [27]:
n_max_df = [0.5, 0.7, 0.8, 0.9, 1]
n_features = [500, 700, 1000, 2000, 3000, 4000, 5000, 6000]
stop_w = ['english', None]
log_max_df = []
log_features = []
log_acc = []
log_acc2 = []
log_stop_w = []

In [36]:
for max_df in n_max_df:
    for max_features in n_features:
        for w in stop_w:
            # CountVectorizer
            count_vect = CountVectorizer(ngram_range=(1, 1), analyzer='word', stop_words=w, lowercase=False,
                                   binary=False, max_df = max_df, max_features = max_features)
                       
            count_vect.fit(lemmatized_list)
            xtrain_count =  count_vect.transform(train_x)
            xvalid_count =  count_vect.transform(valid_x)
              
            classifier = linear_model.LogisticRegression()
            classifier.fit(xtrain_count, train_y)
            predictions = classifier.predict(xvalid_count)
            log_acc.append(accuracy_score(valid_y, predictions))
            
            #  Tfidf
            count_vect = TfidfVectorizer(max_df=max_df, max_features = max_features, stop_words=w, lowercase=False,
                                  analyzer='word')
            count_vect.fit(lemmatized_list)
            
            xtrain_count =  count_vect.transform(train_x)
            xvalid_count =  count_vect.transform(valid_x)

            classifier = linear_model.LogisticRegression()
            classifier.fit(xtrain_count, train_y)
            predictions = classifier.predict(xvalid_count)
            log_acc2.append(accuracy_score(valid_y, predictions))
            
            log_max_df.append(max_df)
            log_features.append(max_features)
            log_stop_w.append(w)

In [49]:
res1 = pd.DataFrame(log_acc, columns = ['accuracy_count'])

In [50]:
res2 = pd.DataFrame(log_acc2, columns = ['accuracy_count'])

In [51]:
res1['accuracy'] = log_acc
res1['max_df'] = log_max_df
res1['features'] = log_features
res1['stop_w'] = log_stop_w

In [52]:
res2['accuracy'] = log_acc2
res2['max_df'] = log_max_df
res2['features'] = log_features
res2['stop_w'] = log_stop_w

In [53]:
res.sort_values(by=['accuracy_count']).tail(15)

     accuracy_count  accuracy_tfidf  max_df  features stop_w
187          0.7876          0.7944     0.7      4000   None
123          0.7876          0.7944     0.8      4000   None
107          0.7876          0.7944     0.7      4000   None
219          0.7876          0.7944     0.9      4000   None
203          0.7876          0.7944     0.8      4000   None
171          0.7876          0.7944     0.5      4000   None
139          0.7876          0.7944     0.9      4000   None
189          0.7900          0.7952     0.7      5000   None
173          0.7900          0.7952     0.5      5000   None
125          0.7900          0.7952     0.8      5000   None
141          0.7900          0.7952     0.9      5000   None
109          0.7900          0.7952     0.7      5000   None
205          0.7900          0.7952     0.8      5000   None
93           0.7900          0.7952     0.5      5000   None
221          0.7900          0.7952     0.9      5000   None

In [54]:
res2.sort_values(by=['accuracy_count']).tail(15)

     accuracy_count  accuracy  max_df  features stop_w
207          0.7948    0.7948     0.8      6000   None
15           0.7948    0.7948     0.5      6000   None
127          0.7948    0.7948     0.8      6000   None
45           0.7952    0.7952     0.8      5000   None
13           0.7952    0.7952     0.5      5000   None
221          0.7952    0.7952     0.9      5000   None
205          0.7952    0.7952     0.8      5000   None
189          0.7952    0.7952     0.7      5000   None
93           0.7952    0.7952     0.5      5000   None
61           0.7952    0.7952     0.9      5000   None
29           0.7952    0.7952     0.7      5000   None
125          0.7952    0.7952     0.8      5000   None
109          0.7952    0.7952     0.7      5000   None
141          0.7952    0.7952     0.9      5000   None
173          0.7952    0.7952     0.5      5000   None

Несколько лучше результаты получились при max_features = 5000